<br>

  <br>
  <% if current_user.try(:admin?) %>
  <div class="row">
    <div class= "col-md-12">
    <p>Hello Admin,</p>
    <p>Add a new product: </p>
      <button><%= link_to "New Product", new_product_path %></button>
    </div>
  </div>
  <% end %>

<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <h5><%= product.name %></h5> | <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item , remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
    </div>
  <% end %>
</div>
</div>
